.footer__top {
  background: linear-gradient(180deg, #3B3B3B 0%, #242424 100%), #4F4F4F;
  height: 20px;
}

.footer__main {
  height: 240px;
  background: linear-gradient(180deg, #3B3B3B 0%, #242424 23.76%), #4F4F4F;
  display: flex; 
  justify-content: center;
}

.footer__inner {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  color: #fff;
  font-weight: 100;
}
