.login__columns {
  display: flex;
  justify-content: space-around;
}

.login__or {
  font-family: 'Avenir Next', sans-serif;
}

.login__google {
  display: flex;
  justify-content: center;
  align-items: center;
}
