.login {
  width: 100%;
}

.login__inner {
  display: grid;
  grid-template-columns: 60% auto 30%;
  grid-template-rows: auto;
  justify-content: space-between;
  align-items: center;
}

.login__email {
  grid-column: 1 / 1;
}

.login__columns {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 5rem; */
  display: flex;
  justify-content: space-around;
}

.login__or {
  font-family: 'Avenir Next', sans-serif;
}

.login__google {
  display: flex;
  justify-content: center;
  align-items: center;
}
