.register__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0 1rem;
  justify-content: space-around;
}

.register__or {
  font-family: 'Avenir Next', sans-serif;
}

.register__google {
  display: flex;
  justify-content: center;
  align-items: center;
}
