
@import 'components/colors';

.input {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  min-width: 220px;
}

.input__input {
  padding: .5rem 1rem;
  font-family: 'Avenir Next', sans-serif;
  font-size: 18px;
  color: $color-mine-shaft;
  border: 1px solid $color-silver;
  background: $color-white;
}

.input__input:focus {
  border: 1px solid $color-anakiwa;
}

.input__label {
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
  color: $color-mine-shaft;
  margin-bottom: 1rem;
}

.input__label span {
  color: $color-burnt-sienna;
}

.input__error {
  background: $color-burnt-sienna;
  color: $color-white;
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
  margin-top: .5rem;
  padding: .5rem;
  position: relative;
}

.input__error span {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $color-burnt-sienna transparent;
  top: -.45rem;
  left: 10px;
}
