$color-anakiwa: rgb(128, 209, 255);    
$color-burnt-sienna: rgb(235, 87, 87); 
$color-mine-shaft: rgb(51, 51, 51);    
$color-silver: rgb(189, 189, 189);     
$color-concrete: rgb(242, 242, 242);   
$color-white: rgb(255, 255, 255);      
