$color-anakiwa: rgb(128, 209, 255);    
$color-burnt-sienna: rgb(235, 87, 87); // 
$color-sanguine-brown: rgb(153, 57, 57); // #993939
$color-mine-shaft: rgb(51, 51, 51);    
$color-silver: rgb(189, 189, 189);     
$color-concrete: rgb(242, 242, 242);   
$color-white: rgb(255, 255, 255);      
$color-de-york: rgb(111, 207, 151); // #6FCF97
$color-jungle-green: rgb(39, 174, 96); // #27AE60
$color-cream-can: rgb(242, 201, 76); // #F2C94C
$color-jaffa: rgb(242, 153, 74); // #F2994A
